@import "../../styles/index";

.chat-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  height: 95vh;
  // width: calc(100% - #{2 * $size-wrapper-margin});
  max-width: 600px;
  margin: 0 auto;

  &__info {
    @include type($font-size: 1.2rem, $font-weight: 300, $color: #080808);
    text-align: center;
    margin-bottom: 8px;
  }

  &__title {
    @include type($font-size: 2.4rem, $font-weight: 700, $color: #b71c1c);
    font-family: 'Poppins', sans-serif;
    color: $color-theme-inverted;
    flex: 0 0 auto;
    margin: 24px 0;
    text-align: center;
    text-decoration: underline;
  }

  &__message-list {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__message-list-item {
    @include shape('rounded-border');
    margin-bottom: 8px;
    background-color: #ffcdd2; //
    border: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form {
    flex: 0 0 auto;
    margin: 16px 0;
  }

  &.loader {
    justify-content: center;
    align-items: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $color-theme;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

.alert {
  @include type($font-size: 2.4rem, $font-weight: 700);
  text-align: center;
  background-color: $color-theme;
  display: flex;
  justify-content: center;
  align-items: center;
}
